@font-face {
  font-family: "SFMono-Bold";
  src: url(../fonts/SFMono-Bold.otf) format("opentype");
}

body {
  font-family: "Sawarabi Gothic";
}

.navbar, .pagination {
  font-family: "SFMono-Bold";
}

.card-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border-radius: 50%;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 96px;
  height: 96px;
}
